#bodyToolBar {
	background-color: #030C22;
	width: 33%;
	height: 10%;
	border-style: solid;
}

#bodyContain {
	height:100vh;
}

.appMenuSmall {
	border-style: solid;
}

.appMenuLarge {
	border-style: solid;
}

#appMenuPop {
	border-style: solid;
}


